{% extends '__base__.html' %}

{% block body %}
<div class="container">
    {% include 'wim/includes/nav.html' %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тип</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Дата и время</th>
                <th scope="col">Категория</th>
                <th scope="col">Пояснение</th>
                <th scope="col">Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr>
                <th style="color: var({{ item.type.get_color }})" scope="row">{{ item.id }}</th>
                <td style="color: var({{ item.type.get_color }})">{{ item.get_type }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.user }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.date }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.type.name }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.name }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.cost }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>За</td>
                <td>Страницу</td>
                <td>Доход</td>
                <td></td>
                <td>Расход</td>
                <td></td>
                <td>Итого</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>{{ page_obj.page_income|floatformat:-2 }}</td>
                <td>-</td>
                <td>{{ page_obj.page_outcome|floatformat:-2 }}</td>
                <td>=</td>
                <td>{{ page_obj.page_summ|floatformat:-2 }}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Итого</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ summ|floatformat:-2 }}</td>
            </tr>
        </tbody>
    </table>
    <form action="/pay/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class='form-control' type='submit' value='Сохранить'>
    </form>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="./?page={{ page_obj.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="./?page={{ page_obj.previous_page_number  }}">{{ page_obj.previous_page_number  }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="./?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="./?page={{ page_obj.next_page_number  }}">{{ page_obj.next_page_number  }}</a></li>
            <li class="page-item"><a class="page-link" href="./?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
</div>
{% endblock body %}