{% extends '__base__.html' %}

{% block body %}
<div class="container">
    {% include 'wim/includes/nav.html' %}
    <a class="btn btn-primary" href="{{ previous_day_link }}"><<</a>
    <a class="btn btn-success" href="">{{ day|date:"d.m.Y" }}</a>
    <a class="btn btn-primary" href="{{ next_day_link }}">>></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тип</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Дата и время</th>
                <th scope="col">Категория</th>
                <th scope="col">Пояснение</th>
                <th scope="col">Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <th style="color: var({{ item.type.get_color }})" scope="row">{{ item.id }}</th>
                <td style="color: var({{ item.type.get_color }})">{{ item.get_type }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.user }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.date }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.type.name }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.name }}</td>
                <td style="color: var({{ item.type.get_color }})">{{ item.cost }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>За</td>
                <td>Страницу</td>
                <td>Доход</td>
                <td></td>
                <td>Расход</td>
                <td></td>
                <td>Итого</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>{{ daily_income|floatformat:-2 }}</td>
                <td>-</td>
                <td>{{ daily_outcome|floatformat:-2 }}</td>
                <td>=</td>
                <td>{{ daily_result|floatformat:-2 }}</td>
            </tr>
        </tbody>
    </table>
    <form action="/pay/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class='form-control' type='submit' value='Сохранить'>
    </form>
</div>
{% endblock body %}